@import url('https://fonts.googleapis.com/css2?family=Mali&family=Raleway&display=swap');

body {
    font-family: "Mali", "Raleway", sans-serif; 
    background: #222;
    min-height: 930px;
    position: relative;
    margin: 0;
    padding: 0;
}
 
.card {
    margin: 50px auto;
    width: 50%;
    height: auto;
    max-width: 600px;
    min-width: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px 120px;
    box-shadow: 
    0 0 10vw 0vw #ce4fbd,
    0 0 2vw 0.4vw #720e75,

    inset 0 0 .5vw 0.2vw #ce4fbd,
    inset 0 0 0.2vw 0.2vw #8e1d92,
    inset 0 0 .25vw 0.2vw #720e75;
    border-radius: 22px;  
}

.card h1 {
    font-family: "Mali", sans-serif;
    font-size: min(8vw, 70px);
    font-weight: 350;
    background-color: #0b4428;
    border-style: dotted;
    border-color: #94f1ba;
    color: #33a05e;
    border-radius: 15px;
    filter: blur(0.01rem); 
}  
    
.card span {
    font-family: Raleway, sans-serif;
    padding-left: 10px;
    font-size: 50px;
    letter-spacing: 5px;
    border-radius: 15px;
    color: #e0c8dc;
    filter: blur(0.1rem);
    
    box-shadow: 
    .1vw 0vw .25vw #3f7e57,
    .15vw 0 2vw .25vw #3f7e57,
    
    .1vw 0vw .1vw #8e1d92,
    .15vw 0vw .1vw #8e1d92,
    .4vw 0vw .1vw #8e1d92,
    
    .1vw 0vw 2vw #8e1d92,
    .15vw 0vw 2vw #8e1d92,
    .4vw 0vw 2vw #8e1d92,
    
    .1vw 0vw 1vw #ce4fbd,
    .15vw 0vw 1vw #ce4fbd,
    .4vw 0vw 5vw #ce4fbd,
    
    .1vw 0vw 5vw #57075a,
    .15vw 0vw 20vw #57075a,
    .4vw 0vw 10vw #57075a,
    
    .1vw 0vw 10vw #57075a,
    .15vw 0vw 30vw #57075a,
    .4vw 0vw 10vw #363632;
}
.card img {
    width: 80px;
    border-radius: 10px;
    box-shadow: 
   .1vw 0vw .25vw #3f7e57,
    .15vw 0 2vw .25vw #3f7e57,
    
    .1vw 0vw .1vw #8e1d92,
    .15vw 0vw .1vw #8e1d92,
    .4vw 0vw .1vw #8e1d92,
    
    .1vw 0vw 2vw #8e1d92,
    .15vw 0vw 2vw #8e1d92,
    .4vw 0vw 2vw #8e1d92,
    
    .1vw 0vw 1vw #ce4fbd,
    .15vw 0vw 1vw #ce4fbd,
    .4vw 0vw 5vw #ce4fbd,
    
    .1vw 0vw 5vw #57075a,
    .15vw 0vw 20vw #57075a,
    .4vw 0vw 10vw #57075a,
    
    .1vw 0vw 10vw #57075a,
    .15vw 0vw 30vw #57075a,
    .4vw 0vw 10vw #363632;
}
    
}